---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro'

---

<Layout title="Mystic Nails">
	<main>
		<Header />
		<div class="flex justify-center">
			<div class="grid gap-8 sm:grid-cols-1 lg:grid-cols-3">
				<a href="./diseños">
					<Cards
					title="Mis Diseños"
					description=""
					image="/src/images/diseño-verde.jpg"
				/>
				</a>
				<a href="./tecnicas">
					<Cards 
					title="Técnicas"
					description=""
					image="/src/images/Tecnicas.jpeg"
				/>
				</a>
				<a href="./reservas">
				<Cards 
					title="Reservas"
					description=""
					image="/src/images/calendario-verde.webp"
				/>
				</a>
			</div>
		</div>
	</main>
</Layout>

