---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro'

---

<Layout title="Mystic Nails">
	<main>
		<Header />

		<Cards 
			title="Mis Diseños"
			description=""
			image="/src/images/Diseños.jpg"
		/>
		<Cards 
			title="Mis Diseños"
			description=""
			image="/src/images/Diseños.jpg"
		/>
		<Cards 
			title="Mis Diseños"
			description=""
			image="/src/images/Diseños.jpg"
		/>
	</main>
</Layout>

