<div class="bg-custom-green w-full flex flex-col items-center">
    <div class="text-center text-6xl font-bold mt-8">
        <h1>MYSTIC NAILS</h1>
    </div>
    <div class="text-center text-1xl font-bold mb-8">
        <h2>EL DISEÑO QUE BUSCABAS</h2>
    </div>
</div>