---
const { image } = Astro.props;
---

<div class="max-w-xs rounded-lg overflow-hidden shadow-lg bg-green-100 m-4 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100">
  <img class="w-full h-96 object-cover p-4" src={image}/>
</div>